*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgb(2, 2, 29), #0a3558);
}
.main{
    width: 1000px;
    height: 330px; 
/*     width: 80%;
    height: auto; */
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.list-ans{
    list-style: none;
}
.list-ans button{
     width: 900px;
    height: 40px; 
/*      width: 80%;
    height:auto; */
    text-align: start;
    font-size: 15px;
    margin: 10px 30px;
    border: none;
    background-color: #fcfafa;
    border-left: 6px solid rgb(67, 67, 134);
     border-top: 2px solid rgb(229, 229, 240);
    border-right: 0.1px solid rgb(201, 201, 241);
    border-bottom: 1px solid rgb(234, 234, 243); 
    
}
.list-ans button p{
     margin-left: 10px; 
/*     padding:10px ; */
}
.list-ans button:hover{
    background-color: #efefef;
    font-size: 15.1px;
    transition: all 0.2s ease 0s;
}
.que-no{
    font-size: 21px;
    font-weight: bold;
    padding: 10px 10px;
    color: rgb(18, 18, 83);
}

.que{
    margin:5px 30px;
    font-size: 20px;
    font-weight: 600;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.score p{
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    font-weight: 600;
}
.score span{
    color:rgb(43, 43, 109);
}
.reset{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: rgb(9, 9, 65);
    color: white;
    cursor: pointer;
}
.reset:hover{
    background-color: rgb(2, 2, 26);
}
.startBtn button{
    width: 200px;
    height: 60px;
    font-size: 23px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: rgb(5, 5, 46);
    cursor: pointer;
}

.startBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    border-radius: 10px;
}
.startBtn button:hover{
   background-color: #fef68a;
   font-size: 24px;
   width: 210px;
   height:65px;
  
}

